:root {
  --sidebar-width: 260px;
}

.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layout-content {
  flex: 1;

  min-width: 0;
  box-sizing: border-box;

  background: #f5f5f5;
  padding: 0 20px 0 40px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;
}
